.item-main-title-wetech {
  font-size: 55px;
  color: #f31000;
  font-weight: 1000;
  line-height: 65px;
  display: inline;
  border: #f50053;
}

.logoCls {
  height: 105px;
}

.history-box-layout1 .item-content {
  transition: all 0.5s;
}

.history-box-layout1 .item-content:hover {
  transform: scale(1.1);
  background: #5a49f8;
  color: white;
}

.history-box-layout1 .item-content:hover h3 {
  color: white;
}

.history-box-layout1 .item-content:hover p {
  color: white;
}

.aspect_desc {
  padding: 15px;
  box-shadow: 0px 0px 8px #dbdbdb;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
}

.aspect_desc:hover {
  background: #5a49f8;
  color: white;
  transform: translate(8px, 10px);
  box-shadow: 0px 0px 8px #5a49f8;
}

.career_box {
  box-shadow: 0px 0px 8px #dbdbdb;
  transition: all 0.5s;
  margin-bottom: 2rem;
}

.career_box:hover {
  transform: scale(1.03);
}

.details_banner {
  background: #5a49f8;

  border-radius: 16px 16px 0 0;
}
.explanation_h5 {
  color: #ffffff;
  margin: 1rem;
  padding: 0.3rem;
}
